<head>
  <meta charset="utf-8">
  <title>{{ site.title }}{% if page.title != "" %} - {{ page.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <link rel="stylesheet" href="{{ "/assets/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/lightbox2/css/lightbox.min.css" | prepend: site.baseurl }}">

  <link rel="alternate" type="application/rss+xml" href="{{ "/feed.xml" | prepend: site.baseurl }}" />

  <link rel="shortcut icon" type="image/png" href="{{ "/assets/favicon.ico" | prepend: site.baseurl }}">
</head>
