@import "icon-font";

.release {
  background-color: rgba(127, 140, 141, 0.1);
  border: solid 1px rgba(127, 140, 141, 0.4);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;

  h3 {
    margin: 0;
    padding: 0;
    font-size: 2.3rem;
    a {
      text-decoration: none;
    }
    &, a {
      color: rgba(66, 139, 202, 1);
    }
  }

  h4 {
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 18px;
  }

  hr {
    border-color: rgba(127, 140, 141, 0.4);
    padding: 0;
    margin: 10px 0;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: disc;
      margin: 0 0 0 30px;
      padding: 0;
    }
  }

  %space-after {
    padding-right: 0.5em;
  }

  .release-icon {
    @extend %umlfri-icon-tag;
    @extend %space-after;
  }

  .info-icon {
    @extend %umlfri-icon-info;
    @extend %space-after;
  }

  .author-icon {
    @extend %umlfri-icon-user;
    @extend %space-after;
  }

  .date-icon {
    @extend %umlfri-icon-calendar;
    @extend %space-after;
  }

  .download-icon {
    @extend %umlfri-icon-download;
    @extend %space-after;
  }

  .changelog-icon {
    @extend %umlfri-icon-list;
    @extend %space-after;
  }
}

.latest-release {
  background-color: rgba(92, 184, 92, 0.2);
  border-color: rgba(92, 184, 92, 0.4);

  h3 {
    &, a {
      color: rgba(92, 184, 92, 1);
    }

    .badge {
      background-color: rgba(92, 184, 92, 1);
      display: inline-block;
      min-width: 10px;
      padding: 3px 7px;
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      line-height: 1;
      vertical-align: baseline;
      white-space: nowrap;
      text-align: center;
      border-radius: 10px;
    }
  }

  hr {
    border-color: rgba(92, 184, 92, 0.4);
  }
}
