.news_post {
  h3 {
    font-size: 2.7rem;
    margin: 0;
    padding: 0;
  }

  p.date {
    margin: 0;
    padding: 0;
  }

  p.more {
    margin: 0;
    padding: 0;
    text-align: right;

    a {
      text-transform: uppercase;
    }
  }
}