---
layout: default
---

{{ content }}

{% assign psize = site.posts | size %}
{% if psize > 0 %}
<div class="news_list">
<h2>What's new</h2>
<a href="{{ '/feed.xml' | prepend: site.baseurl }}" class="feed_link" rel="alternate" type="application/rss+xml">RSS</a>

{% for post in site.posts %}
<div class="news_post">
  <h3>{{ post.title }}</h3>
  <p class="date">{{ post.date | date_to_string }}</p>
  <p>{{ post.excerpt }}</p>
  <p class="more"><a href="{{post.url}}">more</a></p>
</div>
{% endfor %}
{% endif %}
</div>